In [180]:
import numpy as np
import pandas as pd
data = pd.read_csv(r"C:\Users\lesar\projects\coderhouse\summer.csv", sep=',' ,encoding='latin-1')
data2 = data.dropna(subset=['Year'])
data3 = data2['Year'].astype(int)
#Se convierte a serie de tiempo
data4 = pd.to_datetime(data3, format='%Y%m', errors='ignore')
df_data = data2.set_index(data4)
df_data2 = df_data.drop(columns =['Year'])
df_dataf = df_data["Athlete"].str.split(",", n = 1, expand = True)
df_data2["Athlete Last Name"] = df_dataf[0]
df_data2["Athlete Name"] = df_dataf[1]
df_data2.drop(columns =["Athlete"], inplace = True)
print(df_data2)

          City      Sport       Discipline           Event Gender  \
Year
1976  Montreal   Aquatics           Diving  3m springboard  Women
1976  Montreal   Aquatics           Diving  3m springboard    Men
1976  Montreal   Aquatics           Diving  3m springboard    Men
1976  Montreal   Aquatics           Diving  3m springboard    Men
1976  Montreal   Aquatics           Diving    10m platform  Women
...        ...        ...              ...             ...    ...
2008   Beijing  Wrestling  Wrestling Gre-R       66 - 74kg    Men
2008   Beijing  Wrestling  Wrestling Gre-R       66 - 74kg    Men
2008   Beijing  Wrestling  Wrestling Gre-R       55 - 60kg    Men
2008   Beijing  Wrestling  Wrestling Gre-R       60 - 66kg    Men
2008   Beijing  Wrestling  Wrestling Gre-R      96 - 120kg    Men

     Country_Code        Country Event_gender   Medal Athlete Last Name  \
Year
1976          GDR   East Germany            W  Silver            KÖHLER
1976          URS   Soviet Union            M  Bronze          KOSENKOV
1976          USA  United States            M    Gold             BOGGS
1976          ITA          Italy            M  Silver          CAGNOTTO
1976          USA  United States            W  Bronze            WILSON
...           ...            ...          ...     ...               ...
2008          FRA         France            M  Bronze            GUENOT
2008          GEO        Georgia            M    Gold         KVIRKELIA
2008          AZE     Azerbaijan            M  Silver           RAHIMOV
2008          FRA         France            M    Gold            GUENOT
2008          CUB           Cuba            M    Gold             LOPEZ

         Athlete Name
Year
1976          Christa
1976        Aleksandr
1976    Philip George
1976   Giorgio Franco
1976   Deborah Keplar
...               ...
2008       Christophe
2008         Manuchar
2008          Vitaliy
2008           Steeve
2008           Mijain

[15316 rows x 11 columns]

In [181]:
#print descripción General
df_describe = df_data2.describe()
print(df_describe)

           City     Sport Discipline   Event Gender Country_Code  \
count     15316     15316      15316   15316  15316        15316
unique        9        28         41     293      2          128
top     Beijing  Aquatics  Athletics  hockey    Men          USA
freq       2042      2210       1523     817   9388         1992

              Country Event_gender   Medal Athlete Last Name Athlete Name
count           15316        15316   15316             15316        15223
unique            127            3       3              8930         5587
top     United States            M  Bronze               KIM     Vladimir
freq             1992         8817    5258               103          113

In [182]:
#Se imprime el numero de medallas obtenidas por país
print(df_data2['Country'].value_counts())

United States      1992
Soviet Union       1021
Australia           798
Germany             691
China               679
                   ...
Cote d'Ivoire         1
Djibouti              1
Senegal               1
Virgin Islands*       1
Afghanistan           1
Name: Country, Length: 127, dtype: int64

In [183]:
#Se imprimen las medallas obtenidas por los hombres
df_hombres= df_data2.loc[df_data2['Gender'] == 'Men']
df_men = df_hombres.index.value_counts()
print(df_men)

2000    1126
2008    1110
1992    1105
2004    1099
1996    1082
1988    1011
1984     973
1980     958
1976     924
Name: Year, dtype: int64

In [1]:
a,b=0,1
while b < 100:
        print(b)
        a,b=b,a+b

1
1
2
3
5
8
13
21
34
55
89